<ion-header [translucent]="true">
  <ion-toolbar style="--background:#b3d9ff;">
    <ion-title>
      Iniciar como Estudiante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-background">

  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="login-title">Login estudiante</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre del niño</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Codigo de estudiante</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button" color="primary" (click)="goToLogin()">
  Ingresar
</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
